streamlit==1.34.0
langchain==0.2.0
streamlit-extras==0.3.5
streamlit_float==0.3.4
python-dotenv==1.0.0
langchain_google_genai==1.0.4
langchain-google-vertexai==1.0.4
google-generativeai==0.5.4
google-cloud-aiplatform==1.51.0
pytesseract==0.3.10
pillow==10.1.0
pinecone-client==3.2.2
cloudinary==1.40.0
unstructured[all-docs]